BODY{
    background-color:	#b8e8ea;
    color:white;
}
h1{
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  color:#f09625;
}
h2{
    font-family: 'Gloria Hallelujah', cursive;}
}
}
BODY{
    background-color:	#b8e8ea;
}
p{
  font-family: 'Armata', sans-serif;
}
#self-portrait {
  max-width: 300px;
