BODY{
    background-color:	#94CADA;
    color:#6284E4 ;
}
h1{
  font-family: 'Zeyada', cursive;

  text-align: center;
  color:#6284E4;
}
h2{
  font-family: 'Zeyada', cursive;
    /*font-family: 'Gloria Hallelujah', cursive;}*/
}
}
BODY{
    background-color:	#8ED2C9;
}
p{
  font-family: 'Armata', sans-serif;
}
#self-portrait {
  max-width: 300px;
